n8n - AI Assistant.json
{
  "name": "Projeto de Desenvolvimento de Agentes de IA - Tira-Dúvidas IFB - Mensagens",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const date = Date.now();\nconst random = Math.floor(Math.random() * 1e6);\nconst sessionId = Number(`${date}${random}`).toString();\n\nreturn [{ sessionId: sessionId, messageId: 0 }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        624
      ],
      "id": "6d7a51c5-3202-4921-a239-ff1e43bf21ce",
      "name": "Generate Session ID"
    },
    {
      "parameters": {
        "name": "company_documents_tool",
        "description": "Retrieve information from any company documents"
      },
      "id": "135d5a27-3285-43db-b9dd-2117226632fd",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        832,
        1024
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        720,
        1344
      ],
      "id": "47aa9482-6afb-4ed0-93f9-e41187d9e106",
      "name": "Embeddings OpenAI"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        480,
        1024
      ],
      "id": "fbf3f20c-b480-42fc-8f82-ea8f85f8cfb1",
      "name": "OpenAI Chat Model - AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1040,
        1184
      ],
      "id": "66021e85-2559-4f2d-86a0-86baf8a58dc4",
      "name": "OpenAI Chat Model - Vector Store"
    },
    {
      "parameters": {
        "tableName": "documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        752,
        1184
      ],
      "id": "0caa86b3-22c2-418d-90c4-f7beb3b83a79",
      "name": "Postgres PGVector Store"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Receive Request To AI Agent').item.json.body.chatId }}",
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        656,
        1024
      ],
      "id": "330ac5c2-336b-40fb-b03f-ad28af980f88",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=Você é um assistente pessoal conectado a um chatbot online que será responsável por ajudar os usuários com as dúvidas\nque possam ter, fornecendo respostas resumidas, diretas e detalhadas."
        }
      },
      "id": "8ae26e6f-8fb3-48ab-a1f2-116c7fc7908a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        560,
        816
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"sessionId\": {{ $('Send Webhook Request To AI Agent').first().json.sessionId }}, \n  \"messageId\": {{ $('Send Webhook Request To AI Agent').first().json.messageId + 1 }},\n  \"message\": {{ $json.output.toJsonString() }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        912,
        816
      ],
      "id": "4444c307-ba67-409c-aee7-f676718d5f7b",
      "name": "Send AI Agent Response"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"sessionId\": {{ $json.sessionId }},\n  \"messageId\": {{ $json.messageId }}\n}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        624
      ],
      "id": "0bb7825a-50bc-4d43-9608-179b03c74494",
      "name": "Send Session ID"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -272,
        816
      ],
      "id": "428c402f-f178-43d3-94bd-ff67fe6e3dfa",
      "name": "Send AI Agent Request",
      "webhookId": "78db44c0-8de7-47fc-9984-38f56a08a7c0"
    },
    {
      "parameters": {
        "respondWith": "noData",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Credentials",
                "value": "true"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        272,
        1024
      ],
      "id": "09360164-609d-4f27-9d00-beadc597638b",
      "name": "Send Session Confirmation"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a223c305-9a2e-496d-a0ea-450ffb3f10be",
                    "leftValue": "={{ $json.body.sessionId }}",
                    "rightValue": -1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.isCheckConnection }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    },
                    "id": "d391542b-e540-4ecd-a4b9-09262d741660"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0358bf2a-b2ed-4966-b84c-9b2d49c64d95",
                    "leftValue": "={{ $json.body.isCheckConnection }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        0,
        800
      ],
      "id": "ff1a1882-e3fc-4de4-8f1e-a697bffc8894",
      "name": "Check Webhook Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "770c45c4-6e71-4a78-8338-4aee03bc9b71",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "number"
            },
            {
              "id": "2aab34cb-e5f4-47a7-abe3-0f7c94cd18b5",
              "name": "messageId",
              "value": "={{ $json.body.messageId }}",
              "type": "number"
            },
            {
              "id": "4979ce9a-0763-4dcd-beef-c699c5bb78c8",
              "name": "chatId",
              "value": "=chat_{{ $json.body.sessionId }}_webhook_{{ $json.body.messageId }}",
              "type": "string"
            },
            {
              "id": "390b80c2-7685-462a-89f2-2e68f013db9f",
              "name": "message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        816
      ],
      "id": "4522c6d1-78f0-40cd-9de4-0536914701fe",
      "name": "Send Webhook Request To AI Agent"
    }
  ],
  "pinData": {},
  "connections": {
    "Generate Session ID": {
      "main": [
        [
          {
            "node": "Send Session ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - AI Agent": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model - Vector Store": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send AI Agent Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Agent Request": {
      "main": [
        [
          {
            "node": "Check Webhook Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Webhook Request": {
      "main": [
        [
          {
            "node": "Generate Session ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Webhook Request To AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Session Confirmation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Webhook Request To AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "abac7ee1bb3c17fc86c1dab38c5e138734fcc51077a7236b799470d7406f3863"
  },
  "tags": []
}